<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.foret">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foret"
        android:usesCleartextTraffic="true">
        <activity android:name="com.project.foret.ui.entrance.signIn.SignInActivity"></activity>
        <activity android:name="com.project.foret.ui.entrance.signUp.SignUpActivity">

        </activity>
        <activity android:name="com.project.foret.ui.entrance.signUp.SignUpInfoActivity" />
        <activity android:name="com.project.foret.ui.main.board.CreateBoardActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_foret_create" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.project.foret.ui.main.foret.CreateForetActivity" />
    </application>

</manifest>